.bodypageactu{background-color:#f1f5f8;font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif}

 .blanc{background-color: black; margin-top: 1.1%;}
 .noir{width:100% ;background-color: black; }
 .pccc{display: flex;z-index: 1;
    align-items: center; background-color: black; background:url(../images/first.jpg)  no-repeat; background-size: cover; width: 100%; color: #76b900; height:510px; background-position: center; z-index: 1;} 
 @media (max-width: 767px) {
	.pccc {
        background:url(../images/chala.jpg)  no-repeat;
	}
}
@media (max-width:565px){
    .pccc {
        background:url(../images/pti.jpg)  no-repeat;
    }

}
.img-res{
    max-width: 100%;
    height: auto;
}


 .pccc h1 {font-weight: 750; font-size: 40px; color: white;}
 .pccc p{color: #86868b;}
 
 .table {text-align: center; clear:both ; content:"";display: flex; margin-top: 15px; padding:0;margin-bottom: 15px; }
 .prix h2{margin-left: 2%;}
 .lesolde{background-color: #ffff; }
 .lesolde h2{font-weight: 750; color: #BA1A1A;}
 .leprix h2{font-weight:750; color: #BA1A1A;}
 .leprix{background-color: #ffff;}
 .nvidia{
     padding : 10px 20px;
     background-color: #76b900;
     text-decoration: none;
     z-index: 19;
     color: white;
     
 }
 .nvidia:hover{color :white; transition-duration : 750ms;
    background-color:#4F7601;}
 
 .énergie{text-align: center; background-color: white;}
 .blanco{background-color:white ;}
 .memehauteur{
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
 }
 
 .inteh{height: 100%; background-color: white;}
 .solde{background-color: white; 
     padding-right: 0px;
 }
 .prix{padding-right: 0px;}
 
 .lienn{color: white; text-decoration: none; font-weight: 400; font-size:21px}
 #btn{background-color:#ce0033; ;padding-bottom:1px; padding-top: 11px; margin-left: 40%; margin-right: 40%; color: white;}
 #btn:hover{transition-duration : 750ms;
     background-color:#a10028;
     
 }

 .g{
     padding-left: 30px;
     padding-right: 30px;
    
    
     
 }
 .d{
    
    padding-right: 30px;
    padding-left:30px;
  
}

.solde{
    
    flex: 1;
    height: 100%;
}
.nvidiar{
    padding : 10px 20px;
    background-color: #ce0033;
    text-decoration: none;
    z-index: 19;
    color: white;}
    .nvidiar:hover{color :white; transition-duration : 750ms;
    background-color:#a10028;}
    .plante{
        padding-left: 30px;
        padding-right:30px
    }