.contact{
    background-color: #d6d6d6;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.2em;
  }
  
  .formContact{
    margin-top: 3%;
    margin-left: 15%;
  }
  
  .formulaire{
    margin-top:1%;
    font-style: italic;
    font-size: 1.2em;
  }