body{

    overflow-x: hidden;     
}


.photo{

object-fit:cover; 
  
height:300px;

  }
  @media screen and (max-width: 990px) {
    .b-dark{

      background-color:red;

      display:none;
      
    }
  }



  
.dark{

  background-color:#DCE2E7;

  



}

.white{


  background-color:white;

}

/*animation winner img */


.winner{
  display: none;
}
  
.profile:hover + .winner{
  display: block;
  
  color:goldenrod;
}



/* close animation winner img */


a{
color:white;
font-size:21px;
}


//menu

.button {
    position: relative;
    background-color:black;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 6px;
    width: 85px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: red;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }