@charset "UTF-8";
.bodypageactu {
  background-color: #f1f5f8;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.blanc {
  background-color: black;
  margin-top: 1.1%;
}

.noir {
  width: 100%;
  background-color: black;
}

.pccc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  background: url(../images/first.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  color: #76b900;
  height: 510px;
  background-position: center;
  z-index: 1;
}

@media (max-width: 767px) {
  .pccc {
    background: url(../images/chala.jpg) no-repeat;
  }
}

@media (max-width: 565px) {
  .pccc {
    background: url(../images/pti.jpg) no-repeat;
  }
}

.img-res {
  max-width: 100%;
  height: auto;
}

.pccc h1 {
  font-weight: 750;
  font-size: 40px;
  color: white;
}

.pccc p {
  color: #86868b;
}

.table {
  text-align: center;
  clear: both;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  padding: 0;
  margin-bottom: 15px;
}

.prix h2 {
  margin-left: 2%;
}

.lesolde {
  background-color: #ffff;
}

.lesolde h2 {
  font-weight: 750;
  color: #BA1A1A;
}

.leprix h2 {
  font-weight: 750;
  color: #BA1A1A;
}

.leprix {
  background-color: #ffff;
}

.nvidia {
  padding: 10px 20px;
  background-color: #76b900;
  text-decoration: none;
  z-index: 19;
  color: white;
}

.nvidia:hover {
  color: white;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  background-color: #4F7601;
}

.énergie {
  text-align: center;
  background-color: white;
}

.blanco {
  background-color: white;
}

.memehauteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inteh {
  height: 100%;
  background-color: white;
}

.solde {
  background-color: white;
  padding-right: 0px;
}

.prix {
  padding-right: 0px;
}

.lienn {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 21px;
}

#btn {
  background-color: #ce0033;
  padding-bottom: 1px;
  padding-top: 11px;
  margin-left: 40%;
  margin-right: 40%;
  color: white;
}

#btn:hover {
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  background-color: #a10028;
}

.g {
  padding-left: 30px;
  padding-right: 30px;
}

.d {
  padding-right: 30px;
  padding-left: 30px;
}

.solde {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.nvidiar {
  padding: 10px 20px;
  background-color: #ce0033;
  text-decoration: none;
  z-index: 19;
  color: white;
}

.nvidiar:hover {
  color: white;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
  background-color: #a10028;
}

.plante {
  padding-left: 30px;
  padding-right: 30px;
}

body {
  overflow-x: hidden;
}

.photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

@media screen and (max-width: 990px) {
  .b-dark {
    background-color: red;
    display: none;
  }
}

.dark {
  background-color: #DCE2E7;
}

.white {
  background-color: white;
}

/*animation winner img */
.winner {
  display: none;
}

.profile:hover + .winner {
  display: block;
  color: goldenrod;
}

/* close animation winner img */
a {
  color: white;
  font-size: 21px;
}

.button {
  position: relative;
  background-color: black;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 6px;
  width: 85px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: red;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.contact {
  background-color: #d6d6d6;
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.2em;
}

.formContact {
  margin-top: 3%;
  margin-left: 15%;
}

.formulaire {
  margin-top: 1%;
  font-style: italic;
  font-size: 1.2em;
}
/*# sourceMappingURL=styles.css.map */